@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --bg-color: #f5f5f5;
    --text-color: #333;
  }
  
  /* Dark mode */
  :root[data-theme="dark"] {
    --bg-color: #141e33;
    --text-color: #fff;
  }
  
#root {
    background-color: var(--bg-color) !important;
    color: var(--text-color);
  }

.btn {
  @apply bg-violet-600 hover:bg-violet-700 py-3 px-6 text-slate-50 rounded-lg w-auto transition dark:bg-violet-800 dark:hover:bg-violet-900;
}

.inputStyles {
  @apply bg-slate-100 text-slate-600 dark:text-slate-200 rounded-lg p-3 outline-transparent border-2 border-transparent hover:border-violet-600 focus:border-violet-600 focus:outline-none transition dark:bg-slate-800;
}